<h1 class="m-b-20">Admin</h1>
<div class="admin">
	<form ng-submit="controller.submit()" name="form">
		<input class="m-b-20 form-control" type="text" placeholder="Title" ng-model="controller.form.title">
		<textarea class="m-b-20 form-control" type="textarea" placeholder="what's your photo about?" ng-model="controller.form.description"></textarea>
		<textarea class="m-b-20 form-control" type="textarea" placeholder="url" ng-model="controller.form.url"></textarea>
		<button type="submit" class="btn btn-primary" >POST</button>
	</form>
</div>